.player-available-container {
  height: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1px;
}

.player-available-container h1 {
  font-size: 1rem;
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container h1 {
  padding: 0 0.5rem;
}

.left-container-player-header button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;
  cursor: pointer;
}

.left-container-player-header button:focus {
  outline: none;
}

.left-container-player-header button img {
  width: 1.1rem;
  display: block;
  margin: 0 auto;
}

.left-container-player-header button img:hover {
  opacity: 0.6;
}
