.header-logo-container {
  display: flex;
  justify-content: center;
}

.header-logo-container .header-logo {
  width: 18rem;
  padding: 0.25rem;
}

.home-header p {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 2rem;
}
