.list-header-container {
  display: flex;
  margin-top: 1.25rem;
  padding-bottom: 1px;
}

.player-properties {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.player-properties h1 {
  font-size: 0.9rem;
}

.player-properties .name {
  width: 55%;
}

.player-properties .age {
  width: 17.5%;
}
.player-properties .position {
  width: 27.5%;
}

.list-header-container .empty {
  width: 10%;
}
