.carousel-navigation-container {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-navigation-container h1 {
  font-size: 1.5rem;

  @media only screen and (max-width: 450px) {
    font-size: 1.25rem;
  }
}

.carousel-navigation-container button {
  margin-top: 2rem;
  font-size: 0.75rem;
  background-color: var(--black);
  border-radius: 0.2rem;
  max-width: 5rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
  border: none;
}

.carousel-navigation-container button:hover {
  background-color: var(--dark-gray);
}
