.player-available-container {
  height: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1px;
}

.player-available-container h1 {
  font-size: 1.1rem;
}
