.list-header-container {
  display: flex;
  margin-top: 1.25rem;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--gray);
}

.roster-properties {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.roster-properties h1 {
  font-size: 0.9rem;
}

.name {
  width: 55%;
}

.age {
  width: 17.5%;
}
.position {
  width: 27.5%;
}

.empty {
  width: 10%;
}
