.App {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content-container {
  background-color: white;
  padding: 1rem;
  height: 94vh;
  width: 100%;
  min-width: 300px;
  max-width: 900px;
}
