body {
  min-height: 100vh;
}

.page-content-container {
  max-height: 90vh;
  max-width: 750px;
  padding: 1rem;
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
}

.home-page-content-container {
  display: flex;
  flex-direction: column;

  flex: 1;
  background-color: var(--white);
  padding: 1rem;
  width: 100%;
  min-width: 300px;
  height: 90vh;
}

.home-container {
  background-color: var(--white);
}
