.player-container {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.player-info-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.player-container h1 {
  font-size: 0.9rem;
}

.player-container .name {
  width: 55%;
}

.player-container .age {
  width: 17.5%;
}
.player-container .position {
  width: 27.5%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 10%;
}

.button-container img {
  width: 1.25rem;
  opacity: 0.5;
  cursor: pointer;
}

.button-container img:hover {
  opacity: 0.85;
}
