.logo-icon-container {
  width: 100%;
}

.logo-icon-container img {
  width: 5.75rem;
  opacity: 0.35;
  @media only screen and (max-width: 450px) {
    width: 4.5rem;
  }
}

.active-team img {
  opacity: 1;
}
