.player-list-container {
  height: 72vh;
  overflow-y: auto;
}

.no-results-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results-h1 {
  font-size: 1.25rem;
  font-weight: 600;
}
