nav {
  height: 5vh;
  width: 100%;
  background-color: var(--black);
}

.nav-icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
}

.logo {
  margin-top: 0.25rem;
  width: 3.75rem;
}

.nfl-logo {
  width: 3rem;
}
