.player-container {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid var(--gray);
  padding: 3px 0;
}

.player-info-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-container h1 {
  font-size: 0.9rem;
}

.player-container .name {
  width: 55%;
}

.player-container .age {
  width: 17.5%;
}
.player-container .position {
  width: 27.5%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 10%;
}

.button-container img {
  width: 1.25rem;
  cursor: pointer;
  filter: invert(100%);
}

.button-container button {
  display: flex;
  border: none;
  border-radius: 3px;
  padding: 2px;
  background-color: var(--black);
}

.button-container button:hover {
  background-color: var(--dark-gray);
}
// page layout
.page-content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.functionality {
  flex: 0 0 auto;
}

.list-container {
  flex: 1 1 auto;
  overflow-y: auto;
}
